Hevelius/others/workshop/UOS/EXTERNAL/devjoy/config/CDB/schemas/PAD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated from template configuration database schema 
     on 2003-01-08T14:54:48+0100 -->
<xs:schema targetNamespace="urn:schemas-cosylab-com:PAD:1.0"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns="urn:schemas-cosylab-com:PAD:1.0"
 xmlns:cdb="urn:schemas-cosylab-com:CDB:1.0" 
 xmlns:baci="urn:schemas-cosylab-com:BACI:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="urn:schemas-cosylab-com:CDB:1.0" schemaLocation="CDB.xsd"/>
    <xs:import namespace="urn:schemas-cosylab-com:BACI:1.0" schemaLocation="BACI.xsd"/>
      <xs:complexType name="PAD">
        <xs:sequence>
          <xs:element name="deviceName" type="baci:RWstring"/>
          <xs:element name="btnA" type="baci:ROlong"/>
          <xs:element name="btnB" type="baci:ROlong"/>
          <xs:element name="btnC" type="baci:ROlong"/>
       
          <xs:element name="btnX" type="baci:ROlong"/>
          <xs:element name="btnY" type="baci:ROlong"/>
          <xs:element name="btnZ" type="baci:ROlong"/>
       
          <xs:element name="L1" type="baci:ROlong"/>
          <xs:element name="L2" type="baci:ROlong"/>
       
          <xs:element name="R1" type="baci:ROlong"/>
          <xs:element name="R2" type="baci:ROlong"/>
       
          <xs:element name="slider" type="baci:ROlong"/>
       
          <xs:element name="axisX1" type="baci:ROlong"/>
          <xs:element name="axisY1" type="baci:ROlong"/>
       
          <xs:element name="axisX2" type="baci:ROlong"/>
          <xs:element name="axisY2" type="baci:ROlong"/>
       
          <xs:element name="axisX3" type="baci:ROlong"/>
          <xs:element name="axisY3" type="baci:ROlong"/>
       
        </xs:sequence>
    </xs:complexType>
  <xs:element name="PAD" type="PAD"/>
</xs:schema>
